/* forgot-password.css */

/* Reset some default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f5f6fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #fff;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
 color: #6c5ce7;}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input[type="email"] {
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border 0.3s;
}

input[type="email"]:focus {
  outline: none;
  border-color: #6c5ce7;
}

button {
  padding: 12px;
  background-color: #6c5ce7;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #6c5ce7;
}

/* ERROR BOX */
#error-box {
  background: #ffe6e6;
  color: #d8000c;
  padding: 12px 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#error-box p {
  margin: 0;
  font-size: 14px;
}

#error-box span {
  cursor: pointer;
  font-weight: bold;
}

.hidden {
  display: none;
}

p {
  font-size: 14px;
  margin-top: 10px;
}

p a {
   color: #6c5ce7;;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
