* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f6f9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Default (desktop) */
.container {
  background: #fff;
  width: 400px;
  /* max-width: 400px; */
  padding: 40px 30px;
  border-radius: 14px;
  margin: 0 auto;
}

/* Mobile & Tablet (768px and below) */
@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
    width: 100%;
    border-radius: 0;
    padding: 40px 20px;
  }

  body {
    padding: 0; /* remove body padding on small screens */
  }
}


.container h1 {
  color: #6c5ce7;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

/* Inputs */
.input-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 25px;
}

.input-group input {
  width: 100%;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  transition: 0.3s;
}

.input-group input:focus {
  border-color: #6c5ce7;
  outline: none;
}

/* Button */
button {
  width: 100%;
  padding: 14px;
  background: #6c5ce7;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

button:hover {
  background: #6c5ce7;
}

/* Sign up link */
.signup-link {
  margin-top: 15px;
}

.signup-link a {
  color: #6c5ce7;
  font-weight: 600;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

#error-box {
  width: 90%;
  margin: 0 auto 20px auto; /* Center horizontally */
  background: rgba(0, 0, 0, 0.388);
  color: black;
  border-left: 4px solid black;
  padding: 15px;
  border-radius: 10px;
  font-size: 14px;
  animation: fadeIn 0.3s ease-in-out;
  text-align: left;
  position: relative;
}

/* Close text at bottom-left */
#close-error {
  display: block;
  margin-top: 10px;
  font-size: 13px;
  color: #6c5ce7;
  text-decoration: none;
  cursor: pointer;
  text-align: right;
}
#close-error:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

/* Fade animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-6px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Forgot password link style */
.forgot-link {
  margin-top: 10px;
  font-size: 1.2rem;
  text-align: center;
}

.forgot-link a {
  color: #6c5ce7; /* blue color for the link */
  text-decoration: none; /* remove underline */
  transition: color 0.3s ease;
  text-align: center;
}

.forgot-link a:hover {
  
  text-decoration: underline; /* optional underline on hover */
  cursor: pointer;
}
